// ------------------------------------------------------------------------------------------//
// Article
#article-header {
  @include outer-container;
  margin-top: 2em;
  margin-bottom: 1em;

  #title {
    max-width: 48rem;
    margin: 0 auto;

    h2 {
      font-size: 1.8em;
      margin: 0;
    }

    footer {
      color: $medium-gray;

      time {
        margin-right: 1em;
        font-size: .75em;
        font-weight: bold;
      }
      address {
        font-size: .75em;
      }
    }
  }


  &.jumbo {
    max-width: none;
    position: relative;
    //min-height: 70vh;
    height: 40vh;
    //padding-top: 10vh;
    //padding-bottom: 1em;
    margin-top: 0;
    //margin-left: $gutter / 2 * -1;
    //margin-right: $gutter / 2 * -1;

    // Fix for iPad portrait
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
      min-height: 1024px * .70;
      padding-top: 1024px * .45;
    }

    // Fix for iPad landscape
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
      min-height: 768px * .70;
      padding-top: 768px * .45;
    }

    // Fix for iPhone5
    @media screen and (device-aspect-ratio: 40/71) {
      min-height: 500px * .70;
      padding-top: 500px * .45;
    }

    #jumbo-image {
      position: absolute;
      top: 0;
      left: $gutter / 2 * -1;
      right: $gutter / 2 * -1;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1
    }

    #jumbo-attribution {
      position: absolute;
      right: 0;
      bottom: 1em;
      font-size: .6em;

      a {
        color: $medium-gray;

        &:active,
        &:focus,
        &:hover {
          color: shade($medium-gray, 25%);
        }
      }
    }

    #title {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      h2 {
        text-shadow: 1px 1px 3px rgba(#fff, .7);
      }
      footer {
        color: $dark-gray;
      }
    }

    &.dark {
      color: $light-gray;

      #title {
        h2 {
          color: $light-gray;
          text-shadow: 3px 3px 8px rgba(#000, .7), 0 0 2px rgba(#000, .9);

          a:active,
          a:focus,
          a:hover {
            color: shade($light-gray, 15%);
          }
        }
        footer {
          color: $light-gray;
          text-shadow: 0 0 2px rgba(#000, .9);
        }

      }

      #jumbo-attribution {
        color: shade($light-gray, 15%);

        a {
          color: $light-gray;

          &:active,
          &:focus,
          &:hover {
            color: shade($light-gray, 15%);
          }
        }
      }
    }
  }
}

#article {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;


  #share-buttons {
    margin: 2em 0 1em;

    ul {
      @include display(flex);
      @include flex-flow(row wrap);
      list-style: none;
      padding: 0;
      margin: 0 -.5em;

      li {
        @include flex(1 1 auto);
        margin: 0 .5em .5em;

        a {
          display: block;
          width: 100%;
          text-align: center;
        }

      }
      @include media($medium-screen-down) {
        display: block;
      }
    }
  }

  #comments {
    border-top: $base-border;
    padding-top: 1em;
  }
}
