// ------------------------------------------------------------------------------------------//
// Article
#article {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;

  header > h2 {
    margin: 0;
    font-size: 1.8em;
  }

  footer {
    color: $medium-gray;
    margin-bottom: 1em;

    time {
      margin-right: 1em;
      font-size: .75em;
      font-weight: bold;
    }
    address {
      font-size: .75em;
    }
  }

  #share-buttons {
    margin: 2em 0 1em;

    ul {
      @include display(flex);
      @include flex-flow(row wrap);
      list-style: none;
      padding: 0;
      margin: 0 -.5em;

      li {
        @include flex(1 1 auto);
        margin: 0 .5em .5em;

        a {
          display: block;
          width: 100%;
          text-align: center;
        }

      }
      @include media($medium-screen-down) {
        display: block;
      }
    }
  }

  #comments {
    border-top: $base-border;
    padding-top: 1em;
  }
}