// ------------------------------------------------------------------------------------------//
// footer
#main-footer {
  border-top: $base-border;
  margin-top: 2em;

  #links {
    @include row();
    section, address {
      font-style: normal;
      margin: 1.5em 0;

      @include media($medium-screen-down) {
        text-align: center;

        ul > li > a {
          display: block;
          padding: $very-small-spacing;
          width: 100%;
          border: $base-border;
          margin-bottom: $very-small-spacing;
          border-radius: $base-border-radius;
        }
      }

      @include media($medium-screen-up) {
        @include span-columns(12/4);
      }
    }
  }

  #copyright {
    font-size: .75em;
  }
}