// ------------------------------------------------------------------------------------------//
// Header
#main-header {
  @include outer-container;
  border-bottom: $base-border;

  #masthead {
    padding: 1em 0 .75em;
    overflow: hidden;

    img {
      float: left;
      height: 50px;
      width: auto;
      margin-top: .25em;
      margin-right: 1em;

      @include media($medium-screen-up) {
        display: block;
      }
    }

    h1 {
      margin: 0;
      font-size: 1.5em;
      font-family: $alt-font-family;
      color: $action-color;
    }

    p {
      margin: 0;
      font-family: $base-font-family;

      @include media($medium-screen-down) {
        font-size: .75em;
      }
    }
  }

  #main-menu {
    margin: 0;
    list-style: none;

    @include media($large-screen-down) {
      display: none; // Hide for mobile
    }

    @include media($large-screen-up) {
      float: right;
      text-align: right;

      li {
        display: inline-block;
        text-transform: capitalize;

        a {
          display: inline-block;
          padding: 1.75em 1em;
        }

        &.active a {
          border-bottom: 1px solid $medium-gray;
        }
      }
    }
  }
}