// ------------------------------------------------------------------------------------------//
// Index
#index {
  @include media($large-screen-up) {
    @include span-columns(8);
    border-right: $base-border;
  }

  article {
    margin-bottom: 2em;

    footer {
      color: $medium-gray;

      time {
        margin-right: 1em;
        font-size: .75em;
        font-weight: bold;
      }
      address {
        font-size: .75em;
      }
    }
  }
}

#about {
  @include media($large-screen-up) {
    @include span-columns(4);
  }

  .infolist {
    line-height: $base-line-height * 1.5;

    select {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }
}