// ------------------------------------------------------------------------------------------//
// Page
#page {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;

  .modified {
    border-top: $base-border;
    margin-top: 2em;
    font-weight: bold;
    font-size: .75em;
    color: $medium-gray;
  }

  #comments {
    border-top: $base-border;
    padding-top: 1em;
  }
}