html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"], a.btn {
  appearance: none;
  background-color: #225C44;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, a.btn:hover, a.btn:focus {
    background-color: #1b4a36;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, a.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover, a.btn:disabled:hover {
      background-color: #225C44; }

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 2em;
  border-radius: 3px; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #225C44;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(27, 73, 54, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple=multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple=multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

input[type="search"] {
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: inline-block; }

input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #555459;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #225C44;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #1a4533; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

#main-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2em; }
  #main-header section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    #main-header section::after {
      clear: both;
      content: "";
      display: table; }
    #main-header section #masthead {
      padding: 1em 1.5em;
      overflow: hidden; }
      #main-header section #masthead img {
        float: left;
        height: 50px;
        width: auto;
        margin-right: 1em; }
        @media screen and (min-width: 480px) {
          #main-header section #masthead img {
            display: block; } }
      #main-header section #masthead h1 {
        margin: 0;
        font-size: 1.5em;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
      #main-header section #masthead p {
        margin: 0;
        font-size: .75em; }
        @media screen and (min-width: 480px) {
          #main-header section #masthead p {
            display: inline;
            font-size: 1em; } }
    #main-header section #main-menu {
      display: none;
      height: 5em;
      margin: 0;
      padding: 0 1.5em 0 0;
      list-style: none; }
      @media screen and (min-width: 768px) {
        #main-header section #main-menu {
          float: right;
          text-align: right;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-flow: row nowrap;
          -moz-flex-flow: row nowrap;
          flex-flow: row nowrap; }
          #main-header section #main-menu li {
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: center;
            -moz-align-self: center;
            align-self: center;
            -ms-flex-item-align: center;
            text-transform: capitalize; }
            #main-header section #main-menu li a {
              padding: 0.75em 1.5em; }
            #main-header section #main-menu li.active a {
              box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); } }

#main-page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #main-page::after {
    clear: both;
    content: "";
    display: table; }

#main-footer {
  background-color: #F8F8F8;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
  margin-top: 2em;
  padding: 2em 0; }
  #main-footer section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    #main-footer section::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 479px) {
      #main-footer section section {
        text-align: center; } }
    #main-footer section section, #main-footer section address {
      padding: 1em; }
      #main-footer section section h3, #main-footer section address h3 {
        margin: 0;
        padding: 0; }
      #main-footer section section ul, #main-footer section address ul {
        text-transform: capitalize; }
      #main-footer section section #license, #main-footer section address #license {
        font-size: .75em; }
      @media screen and (min-width: 480px) {
        #main-footer section section, #main-footer section address {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          #main-footer section section:last-child, #main-footer section address:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 768px) {
        #main-footer section section, #main-footer section address {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 18.96686%; }
          #main-footer section section:last-child, #main-footer section address:last-child {
            margin-right: 0; }
          #main-footer section section:first-child, #main-footer section address:first-child {
            margin-left: 8.5298%; } }

#index {
  padding: 1em; }
  @media screen and (min-width: 992px) {
    #index {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 0%; }
      #index:last-child {
        margin-right: 0; } }
  #index h2 {
    border-bottom: 1px solid #ddd;
    margin: 0; }
  #index > h2 {
    margin-bottom: 1em;
    font-size: 1.5em; }
  #index article {
    margin-bottom: 2em; }
    #index article > a {
      display: inline-block;
      background-color: #999;
      color: #fff;
      padding: .2em .5em;
      border-radius: 3px;
      font-size: .8em;
      font-weight: bold;
      font-family: "Helvetica", "Arial", sans-serif; }
      #index article > a:active, #index article > a:focus, #index article > a:hover {
        background-color: #737373; }
    #index article footer {
      margin-bottom: .5em; }
      #index article footer::after {
        clear: both;
        content: "";
        display: table; }
      #index article footer time {
        float: left;
        margin-right: 1em;
        font-size: .75em;
        font-weight: bold; }
      #index article footer address {
        float: left;
        font-size: .75em; }

#about {
  padding: 1em; }
  @media screen and (min-width: 992px) {
    #about {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      #about:last-child {
        margin-right: 0; } }
  #about h2 {
    border-bottom: 1px solid #ddd; }
  #about .infolist {
    vertical-align: top; }
    #about .infolist span {
      padding: .25em; }
    #about .infolist span, #about .infolist ul {
      vertical-align: top; }
    #about .infolist ul {
      position: relative;
      top: -.15em;
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin-bottom: 1em;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
      #about .infolist ul li {
        padding: 0 .25em; }
        #about .infolist ul li:first-child {
          background-color: #225C44;
          color: #FFF;
          border: 1px solid #5e5e5e;
          border-radius: 3px; }

#archives, #categories, #authors, #tags {
  padding: 1em; }
  #archives h2, #categories h2, #authors h2, #tags h2 {
    border-bottom: 1px solid #ddd; }

#article {
  padding: 1em;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto; }
  #article h2 {
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 1.8em; }
  #article footer {
    margin-bottom: .5em; }
    #article footer::after {
      clear: both;
      content: "";
      display: table; }
    #article footer time {
      float: left;
      margin-right: 1em;
      font-size: .75em;
      font-weight: bold; }
    #article footer address {
      float: right;
      font-size: .75em; }
  #article #article-content h1,
  #article #article-content h2,
  #article #article-content h3,
  #article #article-content h4,
  #article #article-content h5,
  #article #article-content h6 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0 0 0.75em; }
  #article #article-content a {
    border-bottom: 1px dotted; }
    #article #article-content a:active, #article #article-content a:focus, #article #article-content a:hover {
      border-bottom: 1px solid; }
  #article #article-content ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  #article #article-content ol {
    list-style-type: decimal;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  #article #article-content code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px; }
  #article #article-content pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 4px; }
  #article #article-content code, #article #article-content kbd, #article #article-content pre, #article #article-content samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

/*# sourceMappingURL=theme.css.map */
