@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

.container {
  @include outer-container();
}

#share-buttons {
  margin: 2em 0 1em;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 1em;
    }
  }
}

// ------------------------------------------------------------------------------------------//
// Header
#main-header {
  border-bottom: $base-border;
  margin-bottom: 2em;

  #masthead {
    padding: 1em 0 .75em;
    overflow: hidden;

    img {
      float: left;
      height: 50px;
      width: auto;
      margin-top: .25em;
      margin-right: 1em;

      @include media($medium-screen-up) {
        display: block;
      }
    }

    h1 {
      margin: 0;
      font-size: 1.5em;
      font-family: $alt-font-family;
    }

    p {
      margin: 0;
      font-family: $base-font-family;

      @include media($medium-screen-down) {
        font-size: .75em;
      }
    }
  }

  #main-menu {
    margin: 0;
    list-style: none;

    @include media($large-screen-down) {
      display: none; // Hide for mobile
    }

    @include media($large-screen-up) {
      float: right;
      text-align: right;

      li {
        display: inline-block;
        text-transform: capitalize;

        a {
          display: inline-block;
          padding: 1.75em $base-spacing;
        }

        &.active a {
          border-bottom: 1px solid $medium-gray;
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------//
// Main page

#main-page {
}

// ------------------------------------------------------------------------------------------//
// footer
#main-footer {
  border-top: $base-border;
  margin-top: 2em;

  #links {
    @include row();
    section, address {
      font-style: normal;
      margin: 1.5em 0;

      @include media($medium-screen-down) {
        text-align: center;
      }

      @include media($medium-screen-up) {
        @include span-columns(12/4);
      }
    }
  }

  #copyright {
    font-size: .75em;
  }
}

@import "index";
@import "archive";
@import "article";

