body {
	padding-top: 90px;
}

.navbar-brand {
	font-family: serif;
}

.page-header {
	margin: 0;
	padding: 0 0 10px;
}

.page-header h1 {
	margin: 0;
	padding: 0;
}

article>.entry-content>.panel>.panel-body {
	padding: 0 0 10px;
}

article>.entry-content>.panel>.panel-body>footer.post-info .label {
	margin-right: 8px;
}

article>.entry-content>.panel>.panel-body>footer.post-info .label + span,
article>.entry-content>.panel>.panel-body>footer.post-info .label + a:first-of-type {
	margin-right: 15px;
}

.shariff-button.info {
	display: none;
}